.yacht-form form {
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
  margin-bottom: 1.5em;
}

.yacht-form form label {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  margin: 1rem 0;
}

.yacht-form button {
  font-size: 2rem;
  margin: 1rem 0;
}

.yacht-form #yacht-picture {
  margin-left: 3rem;
  justify-content: space-between;
}

.home {
  font-size: 2rem;
}
