#home-page {
  display: flex;
  align-items: center;
  background-color: white;
  width: 95%;
  margin: 1rem 0;
}

#home-main-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#yachts-title {
  margin: 6rem auto;
}

#yachts-content {
  display: flex;
  max-width: 70%;
  margin: 0 auto;
}

.items {
  margin: 0 2rem;
}

.yachts-social-media {
  display: flex;
  list-style-type: none;
  justify-content: center;
  justify-content: space-around;
}